<!-- {{message}} -->

<!-- Main Content -->
<div class="container mt-5">
  <div class="jumbotron">
    <p class="text-center">{{message}}</p>
    <h1 class="display-4">Welcome to GCU Campus Management System</h1>
    <p class="lead">
      Here you can manage all aspects of student life, from academics to housing
      to extracurricular activities.
    </p>
    <hr class="my-4" />
    <p>Get started by logging in or signing up for an account.</p>
    <a class="btn btn-primary btn-lg" routerLink="/login" role="button"
      >Login</a
    >
    <a class="btn btn-primary btn-lg" routerLink="/signup" role="button"
      >Sign Up</a
    >
  </div>
</div>

<!-- Footer -->
<footer class="bg-primary text-white text-center py-3 mt-5">
  <div class="container">
    <p>&copy; 2023 Government College University</p>
  </div>
</footer>


